.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url(./img/bigbluequilt.jpg);
}

.blog-title {
  font-family: Sans-serif;
  font-size: 20px;
  color: black;
}

.blog-text {
  font-family: Sans-serif;
  color: black; }

.jelly{
  background: url("./img/bigbluequilt.jpg");
  background-size:contain;
  background-position:top;
  background: cover;
  
}

 
